<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>About Us | Safe Share</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link rel = "stylesheet" href="ContactAbout.css" type = "text/css" />
        <!--<link href="https://fonts.googleapis.com/css?family=Acme|Roboto&display=swap" rel="stylesheet"> -->
        
    </head>

    <body>

        <header>
            <a href='/'><img id='logo' src='images/logo.png'  alt='Share Drive logo' /></a>

            <section>

                <ul class = "nav-bar">
                    <li> <a href="/"> Home</a></li>
                    <li> <a href="/myfiles"> Files</a></li>
                    <li> <a href="/ContactUs">Contact Us</a></li>
                    <li> <a href="/logout">Logout</a></li>
                </ul>
            </section>
                    <h1> About Safe Share </h1>
            </header>

            <section>
            <p> Safe Share is a website which allows logged in users to upload files to the server. <br>You can email a link to these files to your friends who can use this to download them. </p>
            </section>
        
        </body>