<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href = "home.css" type = "text/css" rel = "stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Acme|Roboto&display=swap" rel="stylesheet">
		

	</head>
	<body>
		<header>
			<section class = "wrapper">
				<section class = "logo">
					<img src="images/logo.png" alt="">
				</section>
				<ul class = "nav-area">
					<li><a href="/myfiles">My Files</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/ContactUs">Contact Us</a></li>
					<li><a href="/account">Account</a></li>
					{{!-- TODO: Change this button to Sign Out when user is logged in --}}
				</ul>

			</section>
			<section class = "welcome-text">
				<h1>Safe Share</h1>
				<a href="/login">Log In</a>
			</section>

		</header>
		
		
	</body>
	
</html>
